@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{

    /* font size */

    --font-small: .875rem;
    --font-medium:1.5rem;
    --font-extra-medium:1.75rem;
    --font-large:2.375rem;
    --font-extra-large:3.25rem;

    /* font weight */

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* line height */

    --lh-20:20px;
    --lh-24:24px;
    --lh-28:28px;
    --lh-36:36px;
    --lh-70:70px;

    /* font color */

    --color-primary:#3A3A3A;
    --color-gray-900: #18191F;
    --color-gray-200:rgba(0, 0, 0, 0.87);
    --color-gray-100: #5E6366;
    --color-gray-50: #787885;
    --color-gray:#6C6C6C;
    --color-blue:#0A0826;
    --color-white:#fff;



}


/* style rule  for common style*/
.container{
    width: 1440px;
    margin: auto;
}





/* style rule for header */




/* style rule for navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav__title a{
    color: var(--color-primary);
    font-size: var(--font-medium);
    font-weight: var(--fw-700);
}

.nav__menu{
    display: flex;
    gap: 2.125rem;
}

.nav__menu--item > a{
    color: var(--color-primary);
    font-weight: var(--fw-600);
}