@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
}
img {
  max-width: 100%;
  object-fit: cover;
}
:root {
  /* font size */

  --font-small: 0.875rem;
  --font-medium: 1.5rem;
  --font-extra-medium: 1.75rem;
  --font-large: 2.375rem;
  --font-extra-large: 3.25rem;

  /* font weight */

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* line height */

  --lh-20: 20px;
  --lh-24: 24px;
  --lh-28: 28px;
  --lh-36: 36px;
  --lh-70: 70px;

  /* font color */

  --color-primary: #3a3a3a;
  --color-gray-900: #18191f;
  --color-gray-200: rgba(0, 0, 0, 0.87);
  --color-gray-100: #5e6366;
  --color-gray-50: #787885;
  --color-gray: #6c6c6c;
  --color-blue: #0a0826;
  --color-white: #fff;
  --color-pink: #e02c6d;
}

/* style rule  for common style*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  padding: 10px 24px;
  background: var(--color-pink);
  color: var(--color-white);
  font-weight: var(--fw-700);
  border: none;
}

/* style rule for header */

/* style rule for navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 32px;
}
.nav__title a {
  color: var(--color-primary);
  font-size: var(--font-medium);
  font-weight: var(--fw-700);
}

.nav__menu {
  display: flex;
  gap: 2.125rem;
}

.nav__menu--item > a {
  color: var(--color-primary);
  font-weight: var(--fw-600);
}

/* style rule for main */

/* style rule for section */

.sectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.sectionOne__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-items: center;
  /* max-width: 50%; */
}

.sectionOne__content--title {
  font-size: var(--font-extra-large);
  font-weight: var(--fw-700);
  color: var(--color-primary);
}
.sectionOne__content--text {
  font-weight: var(--fw-600);
  color: var(--color-primary);
}

.sectionOne__content--btn {
  border-radius: 41px;
}

.sectionOne__image {
  background: url("/images/Circle-design.svg") no-repeat center;
  padding: 2.5rem;
  /* max-width: 50%; */
}
.sectionOne__image img {
  object-fit: cover;
}

/* style rule for sectionTwo */
.sectionTwo {
  margin-top: 68px;
}
.sectionTwo__webLogo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  flex-wrap: wrap;
}

/* style rule for sectionThree */

.sectionThree{
  margin-top: 6.25rem;
}
.sectionThree__title{
  font-size: var(--font-extra-medium);
  font-weight: var(--fw-600);
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 30px;
}

.sectionThree__card--wrapper {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit,minmax(20.5625rem, 1fr));
  justify-items: center;
}
.sectionThree__card--body {
  width: 20.5625rem;
  height: 29.75rem;
  display: flex;
  flex-direction: column;
  padding: 1.0625rem .875rem;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0rem 0rem 2.5rem 0rem rgba(0, 0, 0, 0.15);
}
.sectionThree__card-title {
  font-size: var(--font-extra-medium);
  font-weight: var(--fw-500);
  color: var(--color-gray-900);
}
.sectionThree__card--price {
  color: var(--color-gray-200);
  font-weight: var(--fw-400);
  font-size: var(--font-medium);
}
.sectionThree__card--details {
  font-size: var(--font-small);
  font-weight: var(--fw-700);
  color: var(--color-gray-50);
}
.sectionThree__card--rating {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
}
.rating__number {
  font-size: var(--font-small);
  font-weight: var(--fw-700);
  color: var(--color-gray-100);
  margin: 0;
}

.sectionThree__see-more{
  color: var(--color-pink);
  font-weight: var(--fw-700);
  text-align: right;
  margin-top: 3.125rem;
  margin-right: 48px;
}
/* style for media query */

@media screen and (width < 36rem) {
  nav {
    flex-direction: column;
    gap: 40px;
    padding: 0 32px;
  }
  nav ul {
    flex-wrap: wrap;
  }

  /* media style for section one */
  .sectionOne {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .sectionOne__content {
    text-align: center;
    align-items: center;
  }
  .sectionOne__content--title {
    font-size: var(--font-extra-medium);
  }
  .sectionOne__content--text {
    font-size: var(--font-small);
  }

  /* media style rule fot sectionThree */
/* .sectionThree__card--wrapper{
  grid-template-columns: repeat(1,1fr);
} */
}

@media screen and (width >= 36rem) and (width < 920){

    /* media style rule fot sectionThree */
/* .sectionThree__card--wrapper{
  grid-template-columns: repeat(2,1fr);
} */
}
